.navbar {
    height: 80px;
    width: 100vw;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    color: white;
    margin-left: 2rem;
    font-size: 28px;
    font-weight: 700;
}

.navbar-menu {
    margin-right: 2rem;
}

.navbar-menu-list {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    list-style: none;
    padding: 0;
}

.navbar-menu-list li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.navbar-menu-list li a i {
    margin-left: .5rem;
}

.navbar-menu-list li a:hover {
    background: white;
    color: #000;
}

.navbar-menu-list li a.active {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: 50px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    background: white;
    color: #000;
}